/* Sets the font family to Arial and sans-serif as fallback, add 20px padding, max width of 600px, center the body, and set the background color to black */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
    text-align: center;
    background-color: black;
}

/* Center aligns the header text and sets the color to white */
h1 {
    text-align: center;
    color: white;
}

/* Removes the default list-style and padding for the unordered list */
ul {
    list-style: none;
    padding: 0;
}

/* Sets the background color to white, margin of 10px 0, padding of 15px, and border radius of 50 px */
li {
    background-color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 50px;
}
